<!DOCTYPE html>
{% extends "base.html"%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
{% block page_content%}
<div class="container" style="background-color: red">
  <h1 class="display-6 text-center">Contact</h1>
</div>
<h4>You can get intouch with me with your proposals I would love to use my knowledge to solve your most challenging problems. </h4>
<div class="container">
<div class="col-md-6 col-lg-4">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">Mobile</h5>
           <p class="card-text">+27 765 679 370</p>
          </div>
  </div>
</div>
<div class="col-md-6 col-lg-4">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">E-mail address</h5>
            <p class="card-text">kanyisa.code@gmail.com</p>
        </div>
    </div>
</div>






</div>
{% endblock%}
</body>
</html>